<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TaskDAO">

    <select id="selectTaskMembList" resultType="TaskMembDTO">
        SELECT
             TASK_USR_UNQ
            ,TASK_DEPT
            ,TASK_USR_NM
            ,TASK_USR_PST_NM
            ,TASK_USR_TEL
            ,TASK_USR_EMAIL
            ,REG_USR_ID
            ,REG_DTM
            ,CHG_USR_ID
            ,CHG_DTM
            ,DEL_YN
        FROM
            TBL_TASK_USR_LST
    </select>

    <insert id="insertTaskInfo" parameterType="TaskDTO" useGeneratedKeys="true" keyProperty="task_unq">
        INSERT INTO STT_ENTP_TASK_LST
             CUST_UNQ
            ,ENTP_UNQ
            ,TASK_DEPT
            ,TASK_USR_NM
            ,TASK_TP
            ,TASK_JOB_TP
            ,SVC_EFC
            ,TASK_ST_DT
            ,TASK_ST_TM
            ,TASK_ED_DT
            ,TASK_ED_TM
            ,TASK_MEMO
            ,REG_DTM
            ,STT_MONTH_TOTAL_CNT
            ,STT_MONTH_S_CNT
            ,STT_MONTH_F_CNT
            ,STT_DAY_TOTAL_CNT
            ,STT_DAY_S_CNT
            ,STT_DAY_F_CNT
            ,DEL_YN
        VALUES(
            ,#{cust_unq}
            ,#{entp_unq}
            ,#{task_dept}
            ,#{task_usr_nm}
            ,#{task_tp}
            ,#{task_job_tp}
            ,#{svc_efc}
            ,#{task_st_dt}
            ,#{task_st_tm}
            ,#{task_ed_dt}
            ,#{task_ed_tm}
            ,#{task_memo}
            ,#{reg_dtm}
            ,#{stt_month_total_cnt}
            ,#{stt_month_s_cnt}
            ,#{stt_month_f_cnt}
            ,#{stt_day_total_cnt}
            ,#{stt_day_s_cnt}
            ,#{stt_day_f_cnt}
            ,#{del_yn}
        )
    </insert>

</mapper>