<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TaskDAO">

    <select id="selectTaskMembList" resultType="TaskMembDTO">
        SELECT
             TASK_USR_UNQ
            ,TASK_DEPT
            ,TASK_USR_NM
            ,TASK_USR_PST_NM
            ,TASK_USR_TEL
            ,TASK_USR_EMAIL
            ,REG_USR_ID
            ,REG_DTM
            ,CHG_USR_ID
            ,CHG_DTM
            ,DEL_YN
        FROM
            TBL_TASK_USR_LST
    </select>

</mapper>