<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="VARCHAR" />
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="callSettersOnNulls" value="true" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>

    <!-- mapper에서 매칭할 parameter Type 별칭 설정 -->
    <typeAliases>
        <typeAlias type="java.util.Map" alias="Map" />
        <typeAlias type="java.util.HashMap" alias="HashMap"/>
        <typeAlias type="java.util.List" alias="List"/>
        <typeAlias type="itfact.entp.enterprise.dto.EnterpriseDTO" alias="EnterpriseDTO"/>

    </typeAliases>

    <mappers>
<!--        <mapper resource="resources/mapper/common-mapper.xml"/>-->
        <mapper resource="resources/mapper/entp/enterprise-mapper.xml"/>
    </mappers>
</configuration>