<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserDAO">
    <select id="selectUserInfoCnt" parameterType="UserDTO" resultType="int">
        SELECT COUNT(1) CNT
        FROM TBL_USER
        WHERE USER_ID = #{user_id}
    </select>

    <select id="selectUserById" parameterType="UserDTO" resultType="UserDTO">
        SELECT
             USER_ID
            ,USER_PWD
            ,USER_NM
            ,USE_YN
            ,CELL_TEL_NO
            ,EMAIL
            ,ORG_CD
            ,ORG_CH_CD
            ,JNCO_DT
            ,RETIR_DT
            ,CONN_IP
            ,LGN_TM
            ,LGOUT_TM
            ,PWD_INI_YN_CD
            ,LGN_YN_CD
            ,MEMO
            ,REG_ID
            ,REG_DTM
            ,CHG_ID
            ,CHG_DTM
            ,SESSION_TOKEN
        FROM
            TBL_USER
        WHERE 1=1
            AND USER_ID  = #{user_id}
            AND USER_PWD = #{user_pwd}
    </select>

    <insert id="insertUserTryLoginCnt" parameterType="UserTryLoginCntDTO">
        <selectKey keyProperty="pwd_err_cnt" resultType="int" order="BEFORE">
            SELECT
                IFNULL(MAX(PWD_ERR_CNT) + 1, 1) AS pwd_err_cnt
            FROM
                TBL_USER_TRY_LOGIN_CNT
            WHERE 1=1
                AND USER_ID = #{user_id}
        </selectKey>

        INSERT INTO TBL_USER_TRY_LOGIN_CNT
        (
             USER_ID
            ,PWD_ERR_CNT
        )
        VALUES
        (
             #{user_id}
            ,#{pwd_err_cnt}
        )
    </insert>

    <insert id="insertLoginInfo" parameterType="UserDTO">
        INSERT INTO TBL_LOGIN_HIST
        (
             USER_ID
            ,CONN_IP
            ,TOKEN
            ,LOG_IN_DTM
            ,LOG_OUT_DTM
        )
        VALUES (
             #{user_id}
            ,#{conn_ip}
            ,#{token}
            ,now()
            ,#{log_out_dtm}
        )
    </insert>

    <select id="selectLoginInfo" parameterType="UserDTO" resultType="UserDTO">
        SELECT
             USER_ID
            ,USER_PWD
            ,USER_NM
            ,USE_YN
            ,CELL_TEL_NO
            ,EMAIL
            ,ORG_CD
            ,ORG_CH_CD
            ,JNCO_DT
            ,RETIR_DT
            ,CONN_IP
            ,LGN_T
        FROM TBL_USER USER
        LEFT OUTER JOIN TBL_LOGIN_HIST LGNH ON LGNH.USER_ID = USER.USER_ID
        WHERE 1=1
            AND USER.USER_ID = #{user_id}
            AND USER.USE_YN = 'Y'
    </select>

    <insert id="insertUserInfo" parameterType="UserDTO">
        INSERT INTO TBL_USER
        (
             USER_ID
            ,USER_PWD
            ,USER_NM
            ,USE_YN
            ,ORG_CD
            ,ORG_CH_CD
            ,MEMO
            ,AUTH_CD
            ,REG_ID
            ,REG_DTM
        )
        VALUES (
             #{user_id}
            ,#{user_pwd_crypto}
            ,#{user_nm}
            ,'Y'
            ,#{org_cd}
            ,#{org_ch_cd}
            ,#{memo}
            ,#{auth_cd}
            ,#{reg_id}
            ,now()
        )
    </insert>

    <select id="selectUserList" parameterType="SearchUserDTO" resultType="UserDTO">
        SELECT
             SQL_CALC_FOUND_ROWS
             USER_ID
            ,USE_YN
            ,USER_NM
            ,CONN_IP
            ,LGN_TM
            ,LGOUT_TM
            ,PWD_INI_YN_CD
            ,LGN_YN_CD
        FROM
            TBL_USER
        WHERE 1=1
        <if test="use_yn != null and use_yn != ''">
            AND USE_YN = #{use_yn}
        </if>
        <if test="user_id != null and user_id != ''">
            AND USER_ID = #{user_id}
        </if>
        <if test="user_nm != null and user_nm != ''">
            AND USER_NM = #{user_nm}
        </if>
        <if test="conn_ip != null and conn_ip != ''">
            AND CONN_IP LIKE CONCAT('%', #{conn_ip}, '%')
        </if>

        ORDER BY LGN_TM DESC

        <if test="paging != null and paging != ''">
            <include refid="common.paging" />
        </if>
    </select>
</mapper>

