<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserDAO">
    <select id="selectUserInfoCnt" parameterType="UserDTO" resultType="int">
        SELECT COUNT(1) CNT
        FROM TBL_USER
        WHERE USER_ID = #{user_id}
    </select>

    <select id="selectUserByIdAndPw" parameterType="UserDTO" resultType="UserDTO">
        SELECT
             USER_ID
            ,USER_PWD
            ,USER_NM
            ,USE_YN
            ,CELL_TEL_NO
            ,EMAIL
            ,ORG_CD
            ,ORG_CH_CD
            ,JNCO_DT
            ,RETIR_DT
            ,PWD_INI_YN_CD
            ,LGN_YN_CD
            ,MEMO
            ,REG_ID
            ,REG_DTM
            ,CHG_ID
            ,CHG_DTM
        FROM
            TBL_USER
        WHERE 1=1
            AND USER_ID  = #{user_id}
            AND USER_PWD = #{user_pwd_crypto}
    </select>

    <insert id="insertUserTryLoginCnt" parameterType="UserTryLoginCntDTO">
        <selectKey keyProperty="pwd_err_cnt" resultType="int" order="BEFORE">
            SELECT
                IFNULL(MAX(PWD_ERR_CNT) + 1, 1) AS pwd_err_cnt
            FROM
                TBL_USER_TRY_LOGIN_CNT
            WHERE 1=1
                AND USER_ID = #{user_id}
        </selectKey>

        INSERT INTO TBL_USER_TRY_LOGIN_CNT
        (
             USER_ID
            ,PWD_ERR_CNT
            ,REG_USR_ID
            ,REG_DTM
            ,CHG_USR_ID
            ,CHG_DTM
        )
        VALUES
        (
             #{user_id}
            ,#{pwd_err_cnt}
            ,#{reg_usr_id}
            ,#{reg_dtm}
            ,#{chg_usr_id}
            ,#{chg_dtm}
        )
        ON DUPLICATE KEY UPDATE
             PWD_ERR_CNT = #{pwd_err_cnt}
            ,CHG_USR_ID  = #{chg_usr_id}
            ,CHG_DTM     = #{chg_dtm}
    </insert>

    <insert id="insertLoginInfo" parameterType="UserDTO">
        INSERT INTO TBL_LOGIN_HIST
        (
             USER_ID
            ,CONN_IP
            ,REFRESH_TOKEN
            ,LOG_IN_DTM
            ,LOG_OUT_DTM
            ,PS_STA_CD
        )
        VALUES (
             #{user_id}
            ,#{conn_ip}
            ,#{refresh_token}
            ,now()
            ,#{log_out_dtm}
            ,#{ps_sta_cd}
        )
    </insert>

    <select id="selectLoginInfo" parameterType="UserDTO" resultType="UserDTO">
        SELECT
             USER_ID
            ,USER_PWD
            ,USER_NM
            ,USE_YN
            ,CELL_TEL_NO
            ,EMAIL
            ,ORG_CD
            ,ORG_CH_CD
            ,JNCO_DT
            ,RETIR_DT
        FROM TBL_USER
        WHERE 1=1
            AND USER_ID = #{user_id}
            AND USE_YN  = 'Y'
    </select>

<!--    <select id="selectLoginInfo" parameterType="UserDTO" resultType="UserDTO">-->
<!--        SELECT-->
<!--            USER.USER_ID-->
<!--             ,USER.USER_PWD-->
<!--             ,USER.USER_NM-->
<!--             ,USER.USE_YN-->
<!--             ,USER.CELL_TEL_NO-->
<!--             ,USER.EMAIL-->
<!--             ,USER.ORG_CD-->
<!--             ,USER.ORG_CH_CD-->
<!--             ,USER.JNCO_DT-->
<!--             ,USER.RETIR_DT-->
<!--             ,USER.CONN_IP-->
<!--             ,USER.LOG_IN_DTM-->
<!--             ,USER.LOG_OUT_DTM-->
<!--        FROM TBL_USER USER-->
<!--        LEFT OUTER JOIN TBL_LOGIN_HIST LGNH ON LGNH.USER_ID = USER.USER_ID-->
<!--        WHERE 1=1-->
<!--          AND USER.USER_ID = #{user_id}-->
<!--          AND USER.USE_YN  = 'Y'-->
<!--    </select>-->

    <insert id="insertUserInfo" parameterType="UserDTO">
        INSERT INTO TBL_USER
        (
             USER_ID
            ,USER_PWD
            ,USER_NM
            ,USE_YN
            ,ORG_CD
            ,ORG_CH_CD
            ,MEMO
            ,AUTH_CD
            ,REG_ID
            ,REG_DTM
        )
        VALUES (
             #{user_id}
            ,#{user_pwd_crypto}
            ,#{user_nm}
            ,'Y'
            ,#{org_cd}
            ,#{org_ch_cd}
            ,#{memo}
            ,#{auth_cd}
            ,#{reg_id}
            ,now()
        )
    </insert>

    <select id="selectUserList" parameterType="SearchUserDTO" resultType="UserDTO">
        SELECT
             SQL_CALC_FOUND_ROWS
             USER.USER_ID
            ,USER.USE_YN
            ,USER.USER_NM
            ,CONN_IP
            ,USER.PWD_INI_YN_CD
            ,USER.LGN_YN_CD
        FROM
            TBL_USER AS USER
        LEFT JOIN
            TBL_LOGIN_HIST AS LH ON USER.USER_ID = LH.USER_ID
        WHERE 1=1
        <if test="use_yn != null and use_yn != ''">
            AND USER.USE_YN = #{use_yn}
        </if>
        <if test="user_id != null and user_id != ''">
            AND USER.USER_ID = #{user_id}
        </if>
        <if test="user_nm != null and user_nm != ''">
            AND USER.USER_NM = #{user_nm}
        </if>
        <if test="conn_ip != null and conn_ip != ''">
            AND LH.CONN_IP LIKE CONCAT('%', #{conn_ip}, '%')
        </if>

        ORDER BY LH.LOG_IN_DTM DESC

        <if test="paging != null and paging != ''">
            <include refid="common.paging" />
        </if>
    </select>
</mapper>

